body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
}

.window {
  margin: 10rem auto;
  padding: 1rem 5rem;
  width: 40vw;
  text-align: center;
  border: 2px dashed #ff0000;
}

span {
  color: #ff0000;
  font-weight: 500;
}
